{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>page title</title>
    {% endblock title %}
    
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    
<nav class = "site-nav grid">
    <h1>TEDx</h1>
    <ul>
        <li><a href="#home">2020</a></li>
        <li><a href="#about">درباره ما</a></li>
        <li><a href="#speakers">سخنرانان</a></li>
        <li><a href="#sponsors">حامیان</a></li>
        <li><a href="#blog">بلاگ</a></li>
        <li><a href="#signUp">ثبت نام</a></li>
    </ul>
</nav>

{% block content %}
{% endblock content %}
{% block script %}
{% endblock script %}    
</body>
</html>