{% extends 'home/base.html' %} {% load static %} {% block content %}
<div class="home">
    <img src="{%static 'images/img.jpg'%}" alt="">
    <img src="{%static 'images/tedxlogo.png'%}" alt="">

    <div class="description">
        <div class="date">
            <h1>Agust16</h1>
            <p>2020</p>

        </div>
        <div class="location">
            <p>location</p>
            <div class="line"></div>
            <p>Lorem episum</p>
        </div>
        <p class="time">12:30 - 14:45</p>

        <div class="social">
            <a href="#twitter"><i class="fab fa-twitter"></i></a>
            <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>


    <div class="arrow-down"><i class="fas fa-angle-down"></i></div>
</div>
<div class="aboutted">
    <div class="tabs">
        <div class="title">
            <p>تد</p>
            <div class="underline"></div>
        </div>
        <div class="title">
            <p>تدکس</p>
            <div class="underline"></div>
        </div>
        <div class="title">
            <p>تدکس لواسان</p>
            <div class="underline"></div>
        </div>
    </div>
    <div class="abouttext">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aspernatur rerum expedita illum sed nesciunt repellendus, eveniet dicta tenetur eligendi, nostrum doloribus alias libero maiores aliquam voluptas? Minus, deserunt corrupti.</p>
    </div>
</div>
<div class="speakers">
    <div class="section-title">
        <h1>سخنرانان</h1>
        <div class="underline"></div>
    </div>
    {% for speaker in speakers %}
    <a href="">
        <div class="speaker">
            <h2 class="speaker-name">{{speaker.name}}</h2>
            <h2 class="speaker-title">{{speaker.title}}</h2>
            <div class="line"></div>
            <h2 class="speaker-intro">{{speaker.intro}}</h2>
            <div class="social"><i class="fab fa-instagram"></i>
                <a href="https://www.instagram.com/{{speaker.insta_id}}" target="_blank">{{speaker.insta_id}}</a>
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="introducting-speaker">
        <p>میخواهید سخنران معرفی کنید؟</p>
        <div class="line"></div>
        <div class="intro-speaker-btn">
            معرفی سخنران
        </div>
    </div>
</div>
<div class="introducting-speaker-section">
    <div class="section-title">
        <h1>معرفی سخنران</h1>
        <div class="underline"></div>
    </div>
    <div class="intro-speaker-form">
        <form action="">
            {{introspeakerform}} {{csrf_token}}
            <button type="submit">ثبت</button>
        </form>
    </div>
</div>
{% endblock content %}