 {% extends 'home/base.html' %} {% block navlinks %}
<li><a href="{% url 'home:homeurl' %}"><i class="fas fa-home" style="font-size: 1.4em;"></i></a></li>
{% endblock navlinks %} {% block content %}
<div class="introducting-speaker-section admin-edit">
    <form action="" method="POST">
        {{form}} {% csrf_token %}
        <button type="submit">send</button>
        <button class="deletecl" name="delete" value="" onclick="alert()">delete</button>
        <script>
            const deletecl = document.querySelector('.deletecl')

            function alert() {
                if (window.confirm('sure?')) {
                    deletecl.value = true

                } else {
                    deletecl.value = false
                    console.log('Thing was not saved to the database.');
                }

            }
        </script>
    </form>
</div>

{% endblock content %}